@import "@styles/common.scss";

.wrapper {
  width: rem(420);
  height: rem(420);
  border-radius: rem(4);
  background: $cfff;
  padding: rem(16);
  .titleBox {
    height: rem(40);
  }
  .sub {
    font-size: rem(12);
    color: $c666;
  }
  .btnBox {
    margin-top: rem(12);
    height: rem(64);
  }
}
