@import "@styles/common.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - rem(62));
  background: $cf5f5f5;
  display: grid;
  grid-template-rows: rem(160) 1fr;
  padding: rem(16);
  .timerBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .graphBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.layoutPortal {
  position: fixed;
}
